spring:
  application:
    name: safepoint-api

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:./data/safepointdb
    username: macca
    password: ${DB_PASSWORD}
  
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  
  server:
    port: 9090
    tomcat: 
      trust-forwarded: true
      internal-proxies: 127\\.0\\.0\\.1|localhost|::1
      host-header: host
    forward-headers-strategy: framework

  mime:
    types:
      allowed:
        - image/jpeg
        - image/png
        - image/gif
        - image/bmp
        - image/webp
        - image/tiff
        - image/heic
        - image/heif
      extensions:
        image/jpeg: .jpg
        image/png: .png
        image/gif: .gif
        image/bmp: .bmp
        image/webp: .webp
        image/tiff: .tiff
        image/heic: .heic
        image/heif: .heif